[Desktop Entry]
Version=1.0
Type=Application
Name=OpenIDE
Icon=/opt/openide/bin/openide.svg
Exec="/opt/openide/bin/openide.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=openide-openide
StartupNotify=true
